<h1> About us </h1>

<div class = "dashing">
  <div class="cardsich">
    <% @nfteam.each do |nfmember| %>
      <div class="card-trip trippin">
        <div class="card-trip-infos">
          <div>
            <h2><%= nfmember %></h2>
          </div>
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
