<div class="container-img">
  <div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://thumbs.dreamstime.com/z/going-around-circles-words-circle-ribbons-colorful-stuck-endless-repetitive-circular-pattern-to-illustrate-being-lost-31772655.jpg') ;">
    <div class="container">
      <h1 class="banner_title">pointLESS brings <strong>pointLESS</strong> content to <strong>creative people</strong>!</h1>
      <p class="banner_p">Change your life and learn how to create pointLESS content </p>
      <%# <a class="btn btn-flat" href="#">Sign up</a> %>
      <% if user_signed_in? %>
        <%= link_to "Browse", offers_path, class: 'btn btn-flat' %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <strong class="highlight">footer</strong> made with  <i class="highlight fas fa-bolt"></i> <i class="highlight fas fa-bolt"></i> <i class="highlight fas fa-bolt"></i> at <strong class="highlight">pointLESS</strong>

  </div>
</div>
