@import "config/colors";

.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  padding: 10px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-inputs {
  position: relative;
}
.boolean {
  justify-content: center;
  letter-spacing: 2px
}

.links_for_login {
  font-size: 12px;
  top: 155px;
  position: absolute;
}

.remember_me {
  position: relative;
  top: 25px;
}
.row {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

// .form-actions {
//   padding: 12px 12px 12px 0;
//   display: inline-block;
// }

.movingsignup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  position: center;
  margin: 50px 0px 50px 0px;
}
.signupbtn {
  border-radius: 12px;
  background-color: rgb(58,10,230);
  color: white;
  font-size: 10px;
}

.signupbtn:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.735);
  border: 1px solid rgba(58, 10, 230, 0.626);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.linkinglogin {
  text-decoration: none;
  color: white;
}

.loginlink:hover .linkinglogin {
  color: black;
}

.loginlink{
  border-radius: 12px;
  background-color: rgb(58,10,230);
  color: white;
  text-decoration: none;
}

.loginlink {
  width: 100px;
  font-size: 10px;
}

.signupbtn {
  width: 100px;
}

.loginlink:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.735);
  border: 1px solid rgba(58, 10, 230, 0.626);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bottomdwellers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// .btn-reset {
//   position: relative;
// }
