@import "config/colors";

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: auto;
}

.signup-form {
  width:100%;
  margin-top: 20px;
  margin-bottom: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  position: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.signup-form h2 {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.form-inputs {
  position: relative;
  // padding-top: 10px;
}

.signup-btn {
  margin-top: 20px;
}

.form-group {
  padding-top: 15px;
}
.boolean {
  justify-content: center;
  letter-spacing: 2px;
  margin-top: 20px;
}

.links_for_login {
  font-size: 12px;
  top: 155px;
  position: absolute;
}

.remember_me {
  position: relative;
  top: 25px;
}

.spacer-20 {
  width: 100%;
  height: 20px;
}

.row {
  border-radius: 5px;
  background-color: #f2f2f2;
  // padding: 20px;
}
.form-actions {
  padding: 12px 0px 12px 0;
  display: inline-block;
}

// .btn {
//   transition-duration: 0.4s;
// }
// .btn:hover {
//   background-color: E7EEEE;
//   color: white;
//   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
// }
// .btn-reset {
//   position: relative;
// }
