@import "config/colors";

$duration:20s;
$ease:ease-in-out;
.holder{
	width:50px;
	height: 25px;
	position: relative;
	.circle{
		border-radius:100% 100% 0 0;
		position: absolute;
		bottom: 0;
		left:50%;
		transform:translateX(-50%);
		transform-origin:bottom center;
	}
	@for $k from 1 through 16{
		.circle:nth-child(#{$k}){
			$size:0;
			@if($k > 1){
				$size:3.1px * ($k - 1);
				border:1.3px solid black;
			}@else{
				$size:2.5px;
				background:black;
			}
			border-bottom:none;
			border-radius:$size $size 0 0;
			width:$size;
			height:$size / 2;
			z-index: 16 - $k;
			animation: circle-#{$k} $duration infinite $ease;
		}
		@keyframes circle-#{$k}{
			0%{transform:translateX(-50%) rotate(0deg);}
			100%{transform:translateX(-50%) rotate(-($k * 360deg));}
		}
	}
}
