@import "config/colors";

.container_show {
  display: flex;
  justify-content: center;
  align-items: left;
  max-width: 900px;
  width: 90%;
  margin: 0 auto

}

.contents_showing {
  margin-top: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 5px;
  border-radius: 5px;
  margin-bottom: 250px;
}

hr {
  margin: 5px 0px 0px 0px;
}
.stock_price {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 10px;
}

.content_show {
  // margin-top: 30px;
  overflow: hidden;
  // max-width: 1000px;
  // width: 95%;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  // margin: 0 auto;
  // min-height: 500px;
  padding: 5px 25px 25px 25px;
}

.image_show {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image_show img {
  object-fit: cover;
  // height: 100%;
  width: 100%;
  border-radius: 5px;
}

.textbox_show h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.textbox_show p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 15;
  margin-top: 15px;

}

.textbox_show {
  padding: 15px 10px 5px 10px;
  float: left;
}

@media (min-width: 100px) and (max-width: 575px) {
  .container_show {
    width: 96%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container_show {
    width: 92%;
  }
}


// back button effect
$button-bg-5: #F28123;
$overlay-color: #fff;
$link-text-color: black;
$changed: rgba(0, 0, 0, 0.578);
$border-radius: 6px;

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $link-text-color;
  text-transform: capitalize;
  background-color: white;
  /* background-color: - add your own background-color */
  font: {
    family: 'Roboto', sans-serif; /* put your font-family */
    size: 12px;
  }
  // padding: 20px 0px;
  width: 75px;
  border: none;
  // border-radius: $border-radius;
  overflow: hidden;
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f104";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 25px;
    background-color: rgba($overlay-color,0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0,1);
    transform-origin: right center;
    transition: all 0.2s linear 0s;
  }

   &:hover {
    text-indent: 10px;
    color: $changed;

    &:before {
      transform: scale(1,1);
      text-indent: 20px;
    }
  }
}
