<h1>New Transaction</h1>

<%= form_for @transaction, url: new_offer_transaction_path, method: "POST" do |f| %>
  <%# <%= f.input :comment %>
  <%= f.button :submit, 'Confirm Purchase' %>
<% end %>

<%# <%= link_to 'Go Back', transactions_path %>
