<div class="login-container">
  <div class="signup-form">
    <h1>New Transaction</h1>

  <%= simple_form_for @transaction, url: offer_transactions_path, method: "POST" do |f| %>
      <%# <%= f.input :comment %>
    <button type="button" class="signup-btn">
      <%= f.button :submit, 'Confirm Purchase' %>
    </button>
  <% end %>
      <%= link_to 'Go Back', offers_path %>
  </div>
</div>
